:root{
     --color-primario: #FCB03B;
     --color-secundario: #E92F3D;
     --color-backgroud-sombra: #E92F3D30;
     --color-background: #EFF6F5;
     --color-texto: #A1A5A6;
     --text-defaul: 'Open Sans';
}

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--text-defaul);
}

.titulos{
     font-size: 40px;
     font-weight: 800px;
     
     text-align: center;
     text-transform: uppercase;

     color: var(--color-primario);
}

.subtitulos{
     font-size: 25px;
     font-weight: 400px;
     
     text-align: center;
     text-transform: uppercase;
     
     color: var(--color-secundario);
}

.btn{
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
     color: white;
     background: var(--color-primario);
     font-weight: 700;
     padding: 15px 30px;
     outline: none;
     border: 2px solid var(--color-primario);
     cursor:pointer;
     position: relative;
     top: 20px;
     transition: all 0.3s;
}

.btn span{
     padding-left: 10px;

}

.btn:hover{
     padding: 15px 45px;
}

/* MENU PRINCIPAL */
.menu-principal{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;

     height: 75px;
     padding: 0 30px;
     margin-top: 10px;

     background: var(--color-background);
     padding: 0 10px;
}

.logo img{
     width:130px;
     cursor: pointer;
}

.menu-bar{
     display: flex;
     width: 100%;
     justify-content: space-between
}

.menu-bar .enlaces ul li{
     display: inline-block;
     padding: 0 10px;;
}

.menu-bar .enlaces ul li a{
     font-size: 14px;
     text-transform: uppercase;
     text-decoration: none;

     color: var(--color-texto);
     font-weight: 600;

     /*Mostrasr la linea en el menu*/
     background: linear-gradient(currentColor, currentColor);
     background-position: 100% 100%;
     background-repeat: no-repeat;
     background-size: 0% 2px;
     transition: all 0.5s;

}

.menu-bar .enlaces ul li a:hover{
     color: var(--color-secundario);
     background-size: 50% 2px;
}

.menu-bar .sociales a{
     font-size: 16px;
     padding: 0 10px;
     font-weight: 700;
     text-decoration: none;
     color: var(--color-texto);
     transition: all 0.5s;
}

.menu-bar .sociales a:hover{
     color: var(--color-secundario);
}

.menu-principal i{
     cursor: pointer;
     color: var(--color-texto);
     font-size: 30px;

     float: right; /*Siempre va a estar a la derecha*/
     display: none; /*No se muestra en pantallas grandes*/
     transition: all 0.5s;
}

.menu-principal i:hover{
     color: var(--color-secundario);
}

/* SECCION SERVICIOS */
#servicios{
     height: 100vh;
     background: white;
     padding: 40px;
}

.servicios-titulos{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.servicios-container{
     margin-top: 30px;
     
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(2, auto);
     grid-gap: 30px;

     grid-template-areas: 
          "ingredientes  imagen   rapidez"
          "calidad       imagen   delivery" ;

}

.calidad{
     grid-row: calidad;
     grid-column: calidad;
}
.ingredientes{
     grid-row: ingredientes;
     grid-column: ingredientes;
}
.rapidez{
     grid-row: rapidez;
     grid-column: rapidez;
}
.delivery{
     grid-row: delivery;
     grid-column: delivery;
}
.imagen-central{
     grid-row: imagen;
     grid-column: imagen;
     transition: all 0.5s;
}

.imagen-central:hover{
     transform: scale(1.1);
}

.items{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.items span{
     width: 95px;
     font-size: 40px;
     color: var(--color-secundario);

     padding: 20px;
     border: 5px double white;
     border-radius: 50%;

     text-align: center;
     transition: all 0.5s;
}

.items span:hover{
     background: var(--color-secundario);
     color: white;
}

.ingredientes span,
.calidad span{
     color: var(--color-primario);
}

.ingredientes span:hover,
.calidad span:hover{
     background: var(--color-primario);
     color: white;
}

.items .titulo-item{
     text-transform: uppercase;
     font-size: 15px;
     font-weight: 700;
     text-align: center;
}

.items .text-item{
     font-size: 14px;
     text-align: center;
     color: var(--color-texto);
     font-style: italic;
     padding: 0 20px;
}

/* SECCION DE EQUIPO */
#equipo{
     height: 100vh;
     display: flex;
}

.persona{
     flex-grow: 1;
     overflow: hidden;
     position: relative;
     transition: all 0.5s;
}

.persona:hover{
     flex-grow: 3;
}

.persona-imagen{
     height: 100%;
     position: absolute;
     
     left:50%;
     transform: translateX(-50%);

     filter: grayscale(80%);
}

.persona:hover .persona-imagen{
     filter: grayscale(0%);
}

.persona-info{
     position: absolute;
     bottom: 10px;
     width: 100%;

     text-align: center;
     opacity: 0;
     transition: all 0.1s;
}

.persona:hover .persona-info{
     opacity: 1;
     bottom: 60px;
     transition: all 0.3s;
}

.persona-info h2{
     font-size:30px;
     color:black;
     font-weight: 600;
     text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.persona-info p{
     color: var(--color-secundario);  

     font-size: 20px;
     font-style: italic;
     font-weight: 700;

     margin-top: 10px;
     margin-bottom: 20px;

     text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.persona-info a{
     display: inline-block;

     width: 40px;
     height: 40px;

     color: white;
     background: var(--color-secundario);

     line-height: 40px;
     border-radius: 50%;

     margin: 0 5px;
     font-size: 18px;
     cursor: pointer;
     transition: all 0.5s
}

.social-media a:hover{
     color: var(--color-secundario);
     background: transparent;
     transform: scale(2);
}









/* MEDIA QUERIES */
@media screen and (max-width: 850px) {

     /* SECCCION SERVICIOS*/
     .servicios-container{
          margin-top: 50px;
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
               "ingredientes  rapidez"
               "calidad       delivery";
     }

     .imagen-central{
          display: none;
     }
}





@media screen and (max-width: 650px) {

     /* MENU PRINCIPAL */
     .menu-principal{
          position: fixed;
          top: 0;
          margin-top: 0;
     }

     .menu-principal i{
          display: block;
     }

    .menu-bar{
          justify-content: space-around;
          align-items: center;
          flex-direction: column;

          width: 100%;
          height: 100vh;
          position: fixed;

          right: 0;
          top: 0;
          /*Indica la profundida y es para que siempre se vea el menu*/
          z-index: 1000;

          background: #333;
          transition: all 1s;
          transform: translateX(100%);
          
     }

     .menu-bar.active{
          transform: translateX(0%);
     }

     .menu-bar i{
          position: absolute;
          right: 50px;
          top: 50px;
     }

    .menu-bar .enlaces ul li{
          display: block;
          padding: 20px 10px;
          text-align: center;
     }

     .menu-bar .enlaces ul li a,
     .menu-bar .sociales a{
          font-size: 20px;
     }
}